@media (min-width: 1281px) {
  .welcome {
    background-attachment: fixed;
  }
}

@media (max-width: 1280px) {
  .my-name {
    font-size: 1.8em;
  }

  .my-title {
    font-size: 2em;
  }
}

@media (max-width: 1024px) {
  .my-name {
    font-size: 1.4em;
  }

  .my-title {
    font-size: 1.6em;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .my-name {
    font-size: 1.6em;
  }

  .my-title {
    font-size: 1.8em;
  }
}

@media (max-width: 767px) {
  .welcome {
    padding: 5% 5% 3em 5%;
    background-image: linear-gradient(
        rgba(var(--dark-accent), 0.9),
        rgba(var(--dark-accent), 0.9)
      ),
      url(../img/welcome.jpg);

    flex-direction: column;
  }

  .welcome__content,
  .welcome__actions {
    padding: 0;
    flex: auto;
    max-width: 100%;
    background: none;
  }

  .welcome__actions::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .welcome__title {
    margin-bottom: 0.5em;
  }

  .my-name {
    font-size: 1.2em;
  }

  .my-title {
    font-size: 1.4em;
  }

  .welcome__cite {
    width: 70%;
    margin-left: 30%;
    margin-top: 2.5em;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .welcome {
      height: auto;
  }
}
