/*-----------------------------*/
/*-----------GLIDER------------*/
/*-----------------------------*/

.glide--swipeable {
  cursor: grab;
}

.glide--dragging {
  cursor: grabbing;
}

/*-----------------------------*/
/*--------LINE ON SIDES--------*/
/*-----------------------------*/

.line-on-sides {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.line-on-sides:before,
.line-on-sides:after {
  content: "";
  flex: 1 0 1em;
  border-top: 0.1em solid;
}

.line-on-sides:before {
  margin-right: 1em;
}

.line-on-sides:after {
  margin-left: 1em;
}

/*-----------------------------*/
/*-----------SECTIONS----------*/
/*-----------------------------*/

.section {
  padding: 7% 0;
  display: flex;
  flex-direction: column;
}

.section__title,
.section__content {
  width: 70%;
  margin: 0 auto;
  max-width: var(--max-content-width, 1140px);
}

.section__content {
  display: flex;
}

.section__title {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.45;
  text-align: center;
  margin-bottom: 1.25em;
  text-transform: uppercase;
}

.section__title::after {
  content: "";
  width: 5em;
  height: 0.1em;
  display: flex;
  margin: 0.2em auto 0 auto;
  background-color: var(--color-light-accent);
}

/*-----------------------------*/
/*------------INPUTS-----------*/
/*-----------------------------*/

.input {
  display: flex;
  margin-bottom: 1em;
  flex-direction: column;
}

.input label {
  margin-bottom: 0.5em;
}

.input input,
.input select,
.input textarea {
  min-width: 6em;
  display: inline-flex;
  padding: 0.4em 0.6em;

  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-dark);

  outline: none;
  background-color: var(--color-light);
  border: 0.1em solid var(--color-dark-accent);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}

/*-----------------------------*/
/*----------PARAGRAPHS---------*/
/*-----------------------------*/

p {
  text-indent: 1em;
  font-size: 0.9em;
  text-align: justify;
  line-height: 1.45em;
  margin-bottom: 0.2em;

  /*TODO*/
}

/*-----------------------------*/
/*-----------BUTTONS-----------*/
/*-----------------------------*/
.btn,
.btn:link,
.btn:visited {
  min-width: 6em;
  margin-right: 1em;
  display: inline-block;
  padding: 0.4em 0.6em;

  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: var(--color-light);

  border: 0.1em solid var(--color-light);
  background-color: var(--color-light-accent);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}

.btn:last-child {
  margin-right: 0;
}

.btn--secondary,
.btn--secondary:link,
.btn--secondary:visited {
  background-color: var(--color-dark-accent);
}

/*-----------------------------*/
/*-----------ICONS-----------*/
/*-----------------------------*/

.ion-flash--disabled {
  opacity: 0.5;
  color: var(--color-light);
}
