.welcome {
  background-image: url(img/welcome.jpg);
}

@media screen and (min-width: 1281px) {
  .welcome {
    background-attachment: fixed;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .section__title,
  .section__content {
    width: 85%;
  }

  .my-name {
    font-size: 1.8em;
  }

  .my-title {
    font-size: 2em;
  }

  .career__content {
    width: 85%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 18px;
  }

  .my-name {
    font-size: 1.4em;
  }

  .my-title {
    font-size: 1.6em;
  }

  .projects__item-name {
    margin-bottom: 0.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  .welcome .nav {
    display: none;
  }

  .nav--bottom {
    display: flex;
    height: 2.35em;
    font-size: 1.2em;
    justify-content: center;
  }

  .nav--bottom .nav__link {
    flex-direction: row;
  }

  .nav--bottom .nav__link-icon {
    margin-right: 0.2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 850px) and (orientation: landscape) {
  .welcome,
  .contacts {
    height: auto;
  }
}
