@media (max-width: 1024px) {
  .projects__item-name {
    margin-bottom: 0.5em;
  }
}

@media (max-width: 767px) {
  .project__item-details {
    font-size: 0.9em;
  }

  .projects__item {
    flex: 0 1 100%;
    margin-bottom: 5%;
  }

  .projects__item:nth-child(2n + 1) {
    margin-right: 0;
  }
}

@media (max-width: 340px) {
  .projects__content {
    padding: 5% 0;
  }
}
