/*-----------------------------*/
/*------------ABOUT------------*/
/*-----------------------------*/

.about__content {
  width: 60%;
  align-items: center;
  flex-direction: column;
}

.about__details {
  display: flex;
  margin-bottom: 5%;
  align-items: center;
}

.about__details ul {
  list-style: none;
}

.about__detail {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  flex-direction: column;
}

.about__photo {
  width: 150px;
  height: 150px;
  margin-right: 1em;
  border-radius: 50%;
  border: 0.2em solid var(--color-dark-accent);
}

.about__detail:first-child {
  margin-bottom: 1em;
}

.about__detail span {
  font-size: 0.9em;
  line-height: 1.25em;
}

.about__detail span:first-child {
  font-weight: 700;
  margin-bottom: 0.2em;
}

.about__description {
  font-size: 1em;
  text-indent: 2em;
  margin-bottom: 2em;
  line-height: 1.45em;
  text-align: justify;
}
