.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;

  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;

  color: var(--color-light);
  background-color: transparent;

  transition: background-color 0.3s;
}

.navigation__title,
.navigation__title {
  text-indent: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25em;
}

.navigation__content {
  display: flex;
}

.navigation__links {
  display: none;
}

.navigation__chevron:link,
.navigation__chevron:visited {
  display: flex;
  margin: 0.2em 0.6em;

  cursor: pointer;

  color: inherit;
  font-size: 2em;
  text-decoration: none;
}

.navigation--fixed {
  top: 0;
  z-index: 9999;
  bottom: initial;
  position: fixed;
  background-color: var(--color-dark);
  box-shadow: 0 0px 4px var(--color-black);
}

.navigation--fixed .navigation__title {
  display: none;
}

.navigation--fixed .navigation__content {
  width: 100%;
  height: 2.8em;

  align-items: center;
  justify-content: center;
}

.navigation--fixed .navigation__links {
  display: flex;
  list-style: none;

  flex: 0 1 calc(45% - 0.6em);
}

.navigation--fixed .navigation__links:first-child {
  justify-content: flex-end;
}

.navigation--fixed .navigation__links:last-child {
  justify-content: flex-start;
}

.navigation--fixed .navigation__links-item {
  margin: 0 5%;
  display: inline-flex;
}

.navigation--fixed .navigation__link:link,
.navigation--fixed .navigation__link:visited {
  display: inline-flex;

  color: inherit;
  text-decoration: none;

  transition: color 0.2s;
}

.navigation--fixed .navigation__link-icon {
  display: none;
}

.navigation--fixed .navigation__link--selected:link,
.navigation--fixed .navigation__link--selected:visited {
  color: var(--color-light-accent);
}

.navigation--fixed .navigation__link:link,
.navigation--fixed .navigation__link:visited {
  font-size: 1.25em;
  line-height: 1.25em;
  letter-spacing: 0.1em;
}
