@import "normalize.css";
@import "@glidejs/glide/dist/css/glide.core.min.css";

/*---------------*/
/* ACCENT COLORS */
/*---------------*/

:root {
  --dark: 51, 51, 51;
  --light: 243, 242, 239;
  --dark-accent: 50, 89, 99;
  --light-accent: 244, 121, 124;

  --color-dark: rgb(var(--dark));
  --color-light: rgb(var(--light));
  --color-dark-accent: rgb(var(--dark-accent));
  --color-light-accent: rgb(var(--light-accent));

  --max-content-width: 1140px;
}

/*-----------------------------*/
/*--------DEFAULT SETUP--------*/
/*-----------------------------*/

*,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 300;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
}

body {
  position: relative;
}

/*-----------------------------*/
/*-----------GLIDER------------*/
/*-----------------------------*/
.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/*-----------------------------*/
/*--------LINE ON SIDES--------*/
/*-----------------------------*/

.line-on-sides {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.line-on-sides:before,
.line-on-sides:after {
  content: "";
  border-top: 2px solid;
  margin: 0 1em 0 0;
  flex: 1 0 1em;
}

.line-on-sides:after {
  margin: 0 0 0 1em;
}

/*-----------------------------*/
/*-----------CHECKBOX----------*/
/*-----------------------------*/
.checkbox {
  display: inline-flex;
  position: relative;

  cursor: pointer;
  user-select: none;

  font-size: 1em;
}

.checkbox::before {
  display: inline-flex;
  margin-right: 0.2em;
  content: "";
  height: 1em;
  width: 1em;
}

/* Hide the browser's default radio button */
.checkbox input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 1em;
  width: 1em;
  line-height: 1em;
  z-index: 1;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background: #fff;
  border: 1px solid var(--color-dark-accent);
  z-index: 0;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  border-color: var(--color-light-accent);
}

/* When the radio button is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background: #fff;
  border: 0.1em solid var(--color-light-accent);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  position: absolute;
  display: none;
  content: "";
}

/* Show the indicator (dot/circle) when checked */
.checkbox input:checked ~ .checkmark:after {
  display: inline-flex;
}

/*-----------------------------*/
/*-----------SECTIONS----------*/
/*-----------------------------*/

.section {
  display: flex;
  flex-direction: column;

  padding: 7% 0;
}

.section__title,
.section__content {
  max-width: var(--max-content-width, 1140px);

  width: 70%;

  margin: 0 auto;
}

.section__content {
  display: flex;
  flex-wrap: wrap;
}

.section__title {
  font-size: 2em;
  line-height: 1.45;
  text-align: center;

  font-weight: 400;

  text-transform: uppercase;

  margin-bottom: 1.25em;
}

.section__title::after {
  display: block;
  content: "";

  width: 5em;
  height: 0.1em;

  margin: 0 auto;
  margin-top: 0.2em;

  background-color: var(--color-light-accent);
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input label {
  margin-bottom: 0.5em;
}

.input input,
.input textarea,
.input select {
  color: var(--color-dark);
  text-decoration: none;
  font-weight: 400;
  display: inline-flex;
  padding: 0.4em 0.6em;
  min-width: 6em;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  background-color: var(--color-light);
  border: 2px solid var(--color-dark-accent);
  outline: none;
}

/*-----------------------------*/
/*----------PARAGRAPHS---------*/
/*-----------------------------*/

p {
  font-size: 0.9em;
  line-height: 1.45em;
  text-indent: 1em;
  margin-bottom: 0.2em;
  text-align: justify;
}

/*-----------------------------*/
/*-----------BUTTONS-----------*/
/*-----------------------------*/
.btn,
.btn:link,
.btn:visited {
  color: var(--color-light);
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  cursor: pointer;

  display: inline-block;
  padding: 0.4em 0.6em;
  margin-right: 1em;
  min-width: 6em;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  background-color: var(--color-light-accent);
  border: 2px solid var(--color-light);
}

.btn:last-child {
  margin-right: 0;
}

.btn--secondary,
.btn--secondary:link,
.btn--secondary:visited {
  background-color: var(--color-dark-accent);
}

/*-----------------------------*/
/*-----------WELCOME-----------*/
/*-----------------------------*/
.welcome {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  height: 100vh;
  overflow: hidden;

  background: url(img/welcome.jpg);
  background-size: cover;
}

/* WELCOME CONTAINERS */
.welcome__col {
  max-width: calc(var(--max-content-width, 1140px) / 2);

  margin: 0 auto;
}

.welcome__content-side,
.welcome__image-side {
  flex: 0 1 50%;

  padding: 5%;

  display: flex;
  align-items: center;
}

.welcome__content-side {
  color: var(--color-light);

  background: rgba(var(--dark-accent), 0.9);
}

.welcome__image-side {
  position: relative;

  background: rgba(var(--light), 0.2);
}

.welcome__image-side::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  top: 0;

  box-shadow: -1px 0 2px 1px rgba(var(--dark), 0.2);
}

/* WELCOME CONTENT */
.welcome__greeting {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1em;

  margin-bottom: 2em;
}

.welcome__cite {
  position: relative;
  margin-left: 50%;
  width: 50%;

  margin-top: 3em;

  font-size: 0.8em;
  text-align: right;
  font-style: italic;
  line-height: 1.45em;
}

.welcome__cite::before {
  position: absolute;
  content: "\201C";
  display: block;
  top: -4px;
  left: -4px;

  font-size: 3.5em;
}

.welcome__cite cite {
  display: block;
  margin-top: 1em;

  font-size: 0.9em;
  line-height: 1.45em;
}

/* GREETING CONTENT */

.my-greeting {
  font-size: 0.8em;
  line-height: 1.25em;
}

.my-name,
.my-title,
.my-greeting {
  margin-bottom: 0.5em;
}

.my-name,
.my-title {
  text-transform: uppercase;
}

.my-name {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.25em;
}

.my-title {
  font-size: 2.3em;
  font-weight: 300;
  line-height: 1.25em;
}

/*-----------------------------*/
/*---------NAVIGATION----------*/
/*-----------------------------*/

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  color: var(--color-light);

  transition: all 0.2s;
}

.navigation--fixed {
  top: 0;
  z-index: 9998;
  bottom: initial;
  position: fixed;
  background: var(--color-dark);
  box-shadow: 0 0px 4px black;
}

.navigation__links {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.navigation__links ul {
  display: none;
}

.navigation--fixed .navigation__links ul {
  display: flex;
  list-style: none;

  flex: 0 1 calc(45% - 0.6em);
}

.navigation__links ul:first-child {
  justify-content: flex-end;
}

.navigation__links ul > li {
  margin: 0 5%;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-flex;

  color: inherit;
  text-decoration: none;

  transition: color 0.2s;
}

.navigation__link-icon {
  display: none;
}

.navigation__link--selected:link,
.navigation__link--selected:visited {
  color: var(--color-light-accent);
}

.navigation__show-more,
.navigation__show-more {
  display: flex;
  cursor: pointer;

  justify-content: center;

  flex: 0 1 1.25em;

  font-size: 2em;
  line-height: 0em;

  margin: 0.2em 0.5em;
}

.navigation__title,
.navigation__title {
  font-size: 1em;
  line-height: 1.25em;
  font-weight: 400;
  text-indent: 0;
}

.navigation--fixed .navigation__title {
  display: none;
}

.navigation__link:link,
.navigation__link:visited {
  font-size: 1.25em;
  line-height: 1.25em;
  letter-spacing: 0.1em;
}

/*-----------------------------*/
/*------------ABOUT------------*/
/*-----------------------------*/

.about__details {
  margin-right: 5%;

  flex: 0 1 20%;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.about__details ul {
  list-style: none;
}

.about__detail {
  margin-bottom: 0.5em;
}

.about__photo {
  width: 150px;
  height: 150px;

  margin-bottom: 1em;
  border-radius: 50%;
}

.about__detail {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.about__detail:first-child {
  margin-bottom: 1em;
}

.about__detail span {
  font-size: 0.9em;
  line-height: 1.25em;
}

.about__detail span:first-child {
  font-weight: 700;
  margin-bottom: 0.2em;
}

.about__description {
  flex: 1;

  text-indent: 2em;
  line-height: 1.45em;
  text-align: justify;
}

/*-----------------------------*/
/*----------SKILLS-----------*/
/*-----------------------------*/

.skills {
  display: flex;

  color: var(--color-light);
  background: var(--color-dark-accent);
}

.skills__content {
  flex-direction: column;
}

.skills__category-group {
  flex: 1;

  display: flex;
  flex-wrap: wrap;

  border-bottom: 1px solid var(--color-light);
  padding-bottom: 5%;
  margin-bottom: 5%;

  justify-content: space-between;
}

.skills__category-group:last-child {
  margin-bottom: 0;
}

.skills__category {
  flex: 0 1 46%;
  display: flex;
  flex-direction: column;
}

.skills__category:not(:nth-child(2n + 0)) {
  margin-right: 5%;
}

.skills__category h3 {
  font-size: 1.4em;
  line-height: 1.45em;
  font-weight: 300;
  text-align: center;

  margin-bottom: 0.5em;
}

.skills__list {
  list-style: none;
}

.skills__item {
  display: flex;
  justify-content: space-between;

  margin-bottom: 0.2em;
}

.skills__item p {
  text-indent: 0;
  margin-right: 1em;
}

.skills__item-strength {
  display: inline-flex;
  font-size: 0.9em;
  color: var(--color-light-accent);
}

.skills__item-strength span:not(:last-child) {
  margin-right: 0.2em;
}

.ion-flash--disabled {
  color: var(--color-light);
  opacity: 0.5;
}

/*-----------------------------*/
/*-----------CAREER------------*/
/*-----------------------------*/

.career__content {
  width: 60%;
}

.career__groups {
  list-style: none;
  display: block;
  width: 100%;
}

.career__group {
  display: block;
}

.career__group:not(:last-child) {
  margin-bottom: 2.5em;
}

.career__group-title {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.25em;

  text-align: center;
  text-transform: uppercase;

  margin-bottom: 1em;
}

.career__group-title::after {
  display: block;
  content: "";
  width: 10em;
  height: 0.05em;
  margin: 0 auto;
  margin-top: 0.1em;
  background-color: var(--color-light-accent);
}

.career__work-stages,
.career__education-stages {
  position: relative;
}

.career__work-stages::before,
.career__education-stages::before {
  content: "";
  top: 0;
  left: 25%;
  bottom: 0;
  width: 0.2em;

  display: block;
  position: absolute;

  transform: translateX(-50%);
  background: linear-gradient(to bottom, #eee 90%, rgba(255, 255, 255, 0) 100%);
}

.career__work-stage,
.career__education-stage {
  display: flex;
  flex-wrap: wrap;

  position: relative;

  margin-bottom: 5%;
}

.career__work-stage:not(:first-child)::before,
.career__education-stage::before {
  content: "";
  top: 0;
  left: 25%;
  width: 0.8em;
  height: 0.8em;
  display: block;
  position: absolute;

  border: 0.25em solid var(--color-light-accent);
  transform: translateX(-50%);
  border-radius: 50%;
  background: #fff;
}

.career__work-stage:first-child::after {
  content: "";
  display: block;

  width: 1.8em;
  height: 1.8em;

  top: -0.2em;
  left: 25%;
  position: absolute;
  transform: translateX(-50%);

  background-image: url(img/first-point.svg);
  background-size: cover;
}

.career__company,
.career__institution {
  flex: 0 1 25%;

  display: flex;
  flex-direction: column;

  align-items: center;

  padding-right: 5%;
}

.career__company p,
.career__institution p {
  text-indent: 0;
  text-align: center;
}

.career__company img,
.career__institution img {
  width: 100px;
  height: 100px;

  margin-bottom: 1em;
}

.career__company-name {
  font-weight: 400;
}

.career__position,
.career__education {
  flex: 0 1 75%;

  display: flex;
  flex-direction: column;

  padding-left: 5%;
}

.career__position h4,
.career__education h4 {
  line-height: 1.45em;
  margin-bottom: 0.5em;
  color: var(--color-dark-accent);
}

.career__education-degree,
.career__education-field-of-study {
  text-indent: 0;
}

.career__education-degree {
  font-weight: 400;
}

.career__education-degree::after {
  content: ",";
}

.career__technologies {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.career__responsibilities {
  list-style: disc;

  padding-left: 1em;
  margin-bottom: 1em;

  font-size: 0.9em;
  line-height: 1.45em;
}

.career__technologies li {
  margin-right: 0.5em;
  margin-bottom: 0.3em;
  padding: 0.2em 0.6em;

  border: 1px solid var(--color-dark-accent);
  color: var(--color-dark-accent);
  border-radius: 16px;

  font-size: 0.9em;
  line-height: 1;
}

.career__recommendation {
  margin: 0 auto;

  display: flex;
  flex-direction: column-reverse;

  align-items: center;

  font-size: 1em;
  text-indent: 1em;
  line-height: 1.45em;
  text-align: center;
}

.career__recommendation-details:link,
.career__recommendation-details:visited {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin-bottom: 1em;

  text-decoration: none;

  color: var(--color-dark);
}

.career__recommendation-details:link img,
.career__recommendation-details:visited img {
  width: 90px;
  height: 90px;
  border: 2px solid var(--color-dark-accent);
  border-radius: 50%;
  margin-bottom: 1em;
}

.career__recommendation-details:link h4,
.career__recommendation-details:link p,
.career__recommendation-details:visited h4,
.career__recommendation-details:visited p {
  text-indent: 0;
  text-align: center;
  line-height: 1.45em;
}

.career__recommendation-details:link h4,
.career__recommendation-details:visited h4 {
  font-style: normal;
  margin-bottom: 0.5em;
  color: var(--color-dark-accent);
}

.career__recommendation-details:link:hover h4,
.career__recommendation-details:visited:hover h4 {
  text-decoration: underline;
}

/*-----------------------------*/
/*-----------PROJECTS-----------*/
/*-----------------------------*/

.projects {
  position: relative;
  background: var(--color-light);
}

.projects__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.projects__item {
  display: flex;

  flex: 0 1 calc(50% - 2.5%);
  box-shadow: 2px 2px 2px 0px rgba(var(--dark), 0.2);
}

.projects__item:hover {
  cursor: pointer;
}

.projects__item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 5%;
}

.projects__item:not(:nth-child(2n + 0)) {
  margin-right: 5%;
}

.projects__item figure {
  position: relative;
  overflow: hidden;
}

.projects__item figcaption {
  display: flex;
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 1em;
  padding-right: 2.5em;
  transition: background 0.4s;
  color: var(--color-light);
}

.projects__item:hover figcaption,
.projects__item:active figcaption {
  background: rgba(44, 44, 44, 0.418);
}

.project__item-details {
  display: flex;
  flex-direction: column;

  opacity: 0;
  transition: opacity 0.4s;
}

.projects__item:hover .project__item-details,
.projects__item:active .project__item-details {
  opacity: 1;
}

.projects__item-name {
  margin-bottom: 1em;
}

.projects__item-description {
  text-indent: 0;
  margin-bottom: auto;

  margin-left: -100%;
  transition: margin-left 0.4s;
}

.projects__item:hover .projects__item-description,
.projects__item:active .projects__item-description {
  margin-left: 0;
}

.projects__item-thumbnail {
  display: flex;

  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: filter 0.4s;
}

.projects__item:hover .projects__item-thumbnail,
.projects__item:active .projects__item-thumbnail {
  filter: blur(2px);
}

.projects__item-tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  margin-bottom: -100%;
  transition: margin-bottom 0.4s;
}

.projects__item:hover .projects__item-tags,
.projects__item:active .projects__item-tags {
  margin-bottom: 0;
}

.projects__item-tag {
  display: inline-flex;

  margin-right: 0.5em;
  margin-bottom: 0.2em;
  padding: 0.2em 0.6em;

  border: 1px solid var(--color-light);
  border-radius: 16px;

  font-size: 0.8em;
  line-height: 1;
}

.projects__item-tag:last-child {
  margin-right: 0;
}

.projects__item-link:link,
.projects__item-link:visited {
  right: 0.25em;
  bottom: 0.25em;

  font-size: 2em;
  padding: 0 0.2em;
  position: absolute;
  color: var(--color-light);
  border-radius: 50%;
  transition: background 0.4s;
}

.projects__item:not(:hover) .projects__item-link:link,
.projects__item:not(:hover) .projects__item-link:visited {
  background: var(--color-dark-accent);
  box-shadow: 0px 0px 2px 2px rgba(var(--dark), 0.2);
}

/*-----------------------------*/
/*-----------PROJECTS-----------*/
/*-----------------------------*/
.contacts {
  color: var(--color-light);
  background: var(--color-dark);

  height: 100vh;
}

.contacts__title {
}

.contacts__content {
  display: flex;
}

.contacts__group {
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(50% - 2.5%);
}

.contacts__group:nth-child(2n + 1) {
  margin-right: 5%;
}

.socials {
  list-style: none;

  align-self: center;

  display: flex;
  flex-direction: column;
}

.socials li {
  display: flex;
  margin-bottom: 1em;
}

.social__link:link,
.social__link:visited {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: var(--color-light);
}

.social__link-icon {
  width: 1em;
  font-size: 2em;
  text-align: center;
  margin-right: 0.2em;
}

.contacts__form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contacts__group-title {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.contacts__group-title::after {
  display: block;
  content: "";
  width: 10em;
  height: 0.05em;
  margin: 0 auto;
  margin-top: 0.1em;
  background-color: var(--color-light-accent);
}

.contacts__form textarea {
  resize: none;
  flex: 1;
}

.contacts__form .input:last-of-type {
  margin-bottom: 2em;
}

.contacts__form .btn {
  align-self: center;
}

.contacts__title {
  font-size: 2em;
  line-height: 1.45;
  text-align: center;

  font-weight: 400;

  text-transform: uppercase;

  margin-bottom: 1.25em;
}

.contacts__title::after {
  display: block;
  content: "";

  width: 5em;
  height: 0.1em;

  margin: 0 auto;
  margin-top: 0.2em;

  background-color: var(--color-light-accent);
}
