@import "normalize.css";

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap");

/*---------------*/
/* ACCENT COLORS */
/*---------------*/

:root {
  --dark: 51, 51, 51;
  --light: 243, 242, 239;
  --dark-accent: 50, 89, 99;
  --light-accent: 244, 121, 124;

  --color-dark: rgb(var(--dark));
  --color-light: rgb(var(--light));
  --color-dark-accent: rgb(var(--dark-accent));
  --color-light-accent: rgb(var(--light-accent));

  --max-content-width: 1140px;
}

/*-----------------------------*/
/*--------DEFAULT SETUP--------*/
/*-----------------------------*/

*,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: var(--color-dark);
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

/*-----------------------------*/
/*--------LINE ON SIDES--------*/
/*-----------------------------*/

.line-on-sides {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.line-on-sides:before,
.line-on-sides:after {
  content: "";
  border-top: 2px solid;
  margin: 0 1em 0 0;
  flex: 1 0 1em;
}

.line-on-sides:after {
  margin: 0 0 0 1em;
}

/*-----------------------------*/
/*----------PARAGRAPHS---------*/
/*-----------------------------*/
p {
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.45em;
  text-indent: 1em;
  margin-bottom: 0.2em;
  text-align: justify;
}

/*-----------------------------*/
/*-----------BUTTONS-----------*/
/*-----------------------------*/
.btn,
.btn:link,
.btn:visited {
  color: var(--color-light);
  text-decoration: none;
  text-align: center;

  display: inline-block;
  padding: 0.4em 0.6em;
  margin-right: 1em;
  min-width: 6em;

  box-shadow: 0px 1px 3px 0px rgba(var(--dark), 0.4);
  background-color: var(--color-light-accent);
  border: 2px solid var(--color-light);
}

.btn--secondary,
.btn--secondary:link,
.btn--secondary:visited {
  background-color: var(--color-dark-accent);
}

/*-----------------------------*/
/*-----------WELCOME-----------*/
/*-----------------------------*/
.welcome {
  display: flex;
  position: relative;

  height: 100vh;
  overflow: hidden;

  background: url(img/welcome.jpg);
  background-size: cover;
}

/* WELCOME CONTAINERS */
.welcome__col {
  max-width: calc(var(--max-content-width, 1140px) / 2);

  margin: 0 auto;
}

.welcome__content,
.welcome__image {
  flex: 0 1 50%;

  padding: 3%;

  display: flex;
  align-items: center;
}

.welcome__content {
  color: var(--color-light);

  background: rgba(var(--dark-accent), 0.9);
}

.welcome__image {
  position: relative;

  background: rgba(var(--light), 0.2);
}

.welcome__image::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  top: 0;

  box-shadow: -1px 0 2px 1px rgba(var(--dark), 0.2);
}

/* WELCOME CONTENT */
.welcome__greeting {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1em;

  margin-bottom: 2em;
}

.welcome__cite {
  position: relative;
  margin-left: 50%;
  width: 50%;

  margin-top: 3em;

  font-size: 0.7em;
  text-align: right;
  font-style: italic;
  line-height: 1.45em;
}

.welcome__cite::before {
  position: absolute;
  content: "\201C";
  display: block;
  top: -4px;
  left: -4px;

  font-size: 3.5em;
}

.welcome__cite cite {
  display: block;
  margin-top: 1em;

  font-size: 0.9em;
  line-height: 1.45em;
}

/* GREETING CONTENT */

.my-greeting {
  font-size: 0.8em;
  line-height: 1.2em;
}

.my-name,
.my-title,
.my-greeting {
  margin-bottom: 0.5em;
}

.my-name,
.my-title {
  text-transform: uppercase;
}

.my-name {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2em;
}

.my-title {
  font-size: 2.3em;
  font-weight: 300;
  line-height: 1.2em;
}

/* WELCOME SHOW MORE */

.welcome__show-more {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%);

  font-size: 1em;
}

.welcome__show-more:link,
.welcome__show-more:visited {
  text-decoration: none;
  color: var(--color-light);
}

.welcome__show-more .ion-chevron-down {
  font-size: 2em;
}
