/*---------------*/
/* ACCENT COLORS */
/*---------------*/

:root {
  --dark: 51, 51, 51;
  --light: 243, 242, 239;
  --dark-accent: 50, 89, 99;
  --light-accent: 244, 121, 124;

  --color-dark: rgb(var(--dark));
  --color-light: rgb(var(--light));
  --color-dark-accent: rgb(var(--dark-accent));
  --color-light-accent: rgb(var(--light-accent));

  --max-content-width: 1140px;
}

.modal {
  font-family: inherit;
}

.modal__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5);
}

.modal__container {
  padding: 30px;
  overflow-y: auto;
  width: 500px;
  max-height: 100vh;
  box-sizing: border-box;
  background: var(--color-light);
  border: 4px solid var(--color-dark-accent);
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1em;
}

.modal__title {
  font-weight: 600;
  font-size: 2em;
  line-height: 1.25;
  box-sizing: border-box;
  color: var(--color-dark);
}

.modal__close {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;

  font-size: 1.5em;
}

.modal__content {
  margin-bottom: 2em;
  line-height: 1.45em;
  color: rgba(0, 0, 0, 0.8);
}

.modal__content p {
  font-size: 1;
  text-indent: 0;
  font-weight: 400;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
